<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body style="font-family: Arial; text-align:center; margin-top:100px;">

    <h1 style="color:red;">TESTE NOVO LOGIN</h1>
    
    <h2>Login SaaS 🚀</h2>

    <form method="POST">
        <input type="text" name="email" placeholder="Email"><br><br>
        <input type="password" name="senha" placeholder="Senha"><br><br>
        <button type="submit">Entrar</button>
    </form>    
    
    <div style="margin-top:20px;">
        <a href="/registro" 
           style="padding:10px 20px; background:green; color:white; text-decoration:none; border-radius:5px;">
           Criar nova conta
        </a>
    </div>
        
</body>
</html>